*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    font-size: 60%;
    
}
h1{
    font-size: 35px;
    color: #2E86C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.login-pg{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.login-content{
    padding:10px;
    color: #2E86C1;
    font-size: 18px;
}

form label{
    padding: 10px;
}

input{
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.bttn{
    background-color: #2E86C1;
    color: white;
}

.box{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px rgba(30,30,30,0.5);
}

h5{
    font-size: 15px;
    padding-top: 5px;
}